
<div class="register-block">
  <mat-card class="example-card">
    <mat-card-header>
      <h2 class="heading">User Account Details</h2>
    </mat-card-header>

    <mat-card-content class="mat-card-content">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()" validate autocomplete="off">
      <mat-form-field class="input-fields" >
       
        <mat-label class="white">Full name</mat-label>
        <input matInput formControlName="fullName" id="fullName">
        <mat-error *ngIf="userForm.controls.fullName.invalid 
        && !userForm.controls.fullName.errors?.pattern">full name is required</mat-error>
        <mat-error *ngIf="userForm.controls.fullName.errors?.pattern">Invalid full name</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field  class="input-fields">
        <mat-label class="white">User name.</mat-label>
        <input matInput formControlName="userName" id="userName">
        <mat-error *ngIf="userForm.controls.userName.invalid 
        && !userForm.controls.userName.errors?.pattern">user name required</mat-error>
        <mat-error *ngIf="userForm.controls.userName.errors?.pattern">invalid userName</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field  class="input-fields">
        <mat-label class="white">Password</mat-label>
        <input matInput  formControlName="password" id="password">
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon class="white">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <mat-form-field  class="input-fields">
        <mat-label class="white">Confirm your password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" id="confirmPassword">
      </mat-form-field>
      <br>
      <mat-form-field  class="input-fields">
        <mat-label class="white">Email</mat-label>
        
        <input matInput placeholder="rama@example.com" formControlName="email" id="email" required>
        <mat-error *ngIf="userForm.controls.email.invalid 
        && !userForm.controls.email.errors?.email">email required</mat-error>
        <mat-error *ngIf="userForm.controls.email.errors?.email">invalid email</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field  class="input-fields">
        <mat-label class="white">Mobile number</mat-label>
        <input matInput formControlName="mobileNo" id="mobileNo" required>
        <mat-icon matSuffix class="white">phone</mat-icon>
        <mat-error *ngIf="userForm.controls.mobileNo.invalid 
        && !userForm.controls.mobileNo.errors?.maxlength 
        && !userForm.controls.mobileNo.errors?.pattern" >mobileNo required</mat-error>
        <mat-error *ngIf="userForm.controls.mobileNo.errors?.maxlength 
        && !userForm.controls.mobileNo.errors?.pattern"> Mobile no should be less then 18 char</mat-error>
        <mat-error *ngIf="userForm.controls.mobileNo.errors?.pattern"> invalid mobile no</mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-stroked-button type="submit" class="save-button, white" color="primary" id="saveButton">Save</button>
        <br>
        <span class="span">Already have account? </span>
        <a type="button" class="link" href="/authenticate/login"> Login</a>
      </mat-card-actions>
    </form>
    </mat-card-content>
  </mat-card>
 </div>
