
.register-block{
    margin-left: 36.5%;
    margin-top: 4%;
}
.heading{
    font-size: 215%;
    margin-left: -33px ;
    color: white;
}
.mat-card-content{
    margin-bottom: 0px !important;
}
.example-card {
    max-width: 400px;
    background-color: rgb(166, 178, 245);
  }

.input-fields{
    width: 234px;
}
.save-button{
margin-left: 2%;
}
.white{
    color: white;
}
.link{
    color: white;
    padding-top: 10px;
}
.span{
    padding-left: 1%;
}