<mat-toolbar color="primary">
    <a class=" heading " aria-label="Angular Material" [routerLink]="['/welcome']">LoginApp</a>

    <a class=" mat-button " mat-button *ngFor="let item of primaryMenu" href="/{{item.state}}">{{item.name}}</a>
    <span class="spacer"></span>
    <span class="principal" aria-hidden="false">{{principal}}</span>
    <a class="logout" aria-hidden="false" mat-button href="" (click)="onLoggedOut()">
        <mat-icon>logout</mat-icon>
        Logout
    </a>


</mat-toolbar>