.bottom-nav{
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #3f51b5;
    height: 100px;
    text-align: center;
}
.bottom-nav .bottom-nav-item{
    padding-top: 3%;
    text-align: center;
    color: white;
}